extends ../layout

block content
  .mx-auto.container
    h2 #{title}
    a(href="/players/create") Create Player
        each player in players
          div
            a(href=`/players/${player._id}`)
              if player.thumbnail
                img(src=`${player.thumbnail}` alt=`${player.name} thumbnail` height="55" width="55" class="rounded-full")
              span #{player.name}
        else
          h3 No Players
