extends ../layout

block content
  .mx-auto.container
    div(class="show--card")
      if player.thumbnail
        img(src=`${player.thumbnail}` height="200" width="200" class="rounded-full mr-auto md:mx-auto md:mb-3")
      h2(class="font-semibold text-2xl mb-3") #{title} - #{player.flag}
      div(class="flex")
        p(class="mr-2")
          span(class="font-semibold mr-2") Squad Number:
          span #{player.squadNumber}
        p
          span(class="font-semibold mr-2") Position:
          span #{player.position}
      h3 Images
        each image in player.images
          img(src=image)
      h3 Bios
        div(x-data="{ lang:'"+langs[0]+"'}")
          .flex
            each lang in langs
              button(x-on:click="lang = '" + lang + "'" type="button" class="uppercase flex-1 px-2 py-3 rounded-t" x-bind:class="{'bg-gray-800 text-white': lang === '"+lang+"'}") #{lang}
          each lang in langs
            - let bios = player.bio ? JSON.parse(JSON.stringify(player.bio)) : {};
            div(class="flex flex-col border-2 p-3 rounded-b-lg" x-show="lang === '"+ lang +"'").
              #{bios[lang] ? bios[lang] : `No Bio for ${lang}`}
      if player.twitter
        p Twitter: #{player.twitter}
      if player.instagram
        P Instagram: #{player.instagram}
      div(class="show--card__footer")
        a(href=`/players/${player._id}/edit` class="btn btn--edit") Edit
        br
        a(href=`/players/${player._id}/delete` class="btn btn--delete") Delete
