extends ../layout

block content
  .container.mx-auto
    div(class="show--card")
      h2(class="font-semibold text-2xl mb-3") #{title}
      div
      h3(class="text-xl mb-3") Organization: #{songbook.organization}
      h3(class="text-lg mb-3") Description
      p #{songbook.description}
      if (songbook.front_cover)
        h4 Front Cover
        img(src=songbook.front_cover alt=`${title} front cover`)
      if (songbook.back_cover)
        h4 Back Cover
        img(src=songbook.back_cover alt=`${title} back cover`)
      div(class="flex justify-between")
        h3(class="text-xl font-semibold") Chapters
        a(href=`/songbooks/${songbook.id}/add-chapter` class="btn bg-green-700 text-white") Add Chapter
      each chapter in songbook.chapters
        h4 #{chapter.chapter_title}
        p Chapter Songs: #{chapter.songs.length}
        if (chapter.songs.length)
          p Songs
          each song in chapter.songs
            span #{song}
      div(class="show--card__footer")
        a(href=`/songbooks/${songbook.id}/edit` class="btn btn--edit") Edit
        br
        a(href=`/songbooks/${songbook.id}/delete` class="btn btn--delete") Delete
