extends ../layout

block content
  .container.mx-auto
    h2 #{title}
    a(href=`/songbooks/${songbook._id}/edit`) Edit #{songbook.songbook_title}
    br
    a(href=`/songbooks/${songbook._id}/delete`) Delete #{songbook.songbook_title}
