extends ../layout

block content
  .container.mx-auto
    div(class="mb-3")
      h2(class="mb-3 text-3xl font-extrabold") #{title}
    div(class="flex flex-col justify-between mb-3 md:flex-row")
        a(href="/foes/create" class="px-3 py-2 mb-3 text-white bg-blue-700 rounded md:mb-auto") Add Foe
        a(href=`/foes${all ? '' : '?all=true'}` class="text-white bg-green-700 btn")=`${all ? 'View Active Foes' : 'View All Foes In DB'}`
    section(class="-mx-3")
      each foe in foes
        a(href=`/foes/${foe.id}` class="border-4 list--card" style=`border-color: ${foe.backgroundColor}`)
          if foe.logo
            img(src=`${foe.logo}` alt=`${foe.opponent} logo` class="mr-6 rounded-full" style="height:50px;width:50px;max-width:50px;max-height:50px;")
          else
            div(style=`height:50px;width:50px;max-width:50px;max-height:50px;background:${foe.accentColor}` class="mr-6 rounded-full")
          div
            h3(class="font-semibold text-gray-600") #{foe.opponent} - #{foe.season} #{foe.competition}
            if !foe.active
              p(class="text-gray-600") Not Active
      else
        h3 No Foes
