html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css")
    title #{title} | Hooligan Server
  body.overflow-hidden
    header.bg-gray-800.text-white.py-3
      button#skip(type="button" class="btn absolute -top-16 -left-16 bg-black") Skip To Content
      .px-3.flex.flex-row.justify-between
        a(href="/") Hooligan Server
        nav
          if user
            a(href="/account")
              img(src=`${user.gravatar}` class="h-55 rounded-full" width="55px")
            form(method="POST" action="/logout")
              button(type="submit") Logout
          else
            a.mr-3(href="/login") Login
            a(href="/register") Register
    section(class="flex flex-col md:flex-row min-h-screen h-full")
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;
      if user
        aside(class="bg-gray-300 px-3 py-4 md:w-64 sm:w-100 md:block")
          nav(class="flex flex-col -mx-3 md:block hidden")
            if user.pushNotificationsAllowed
              a(href="/push-tokens" class="block p-3 hover:bg-gray-600 hover:text-white") Push Tokens
              a(href="#" class="block p-3 hover:bg-gray-600 hover:text-white") Notifications
            if user.songbookAllowed
              a(href="#" class="block p-3 hover:bg-gray-600 hover:text-white") Songs
              a(href="#" class="block p-3 hover:bg-gray-600 hover:text-white") Songbooks
            if user.rosterAllowed
              a(href="#" class="block p-3 hover:bg-gray-600 hover:text-white") Players
              a(href="#" class="block p-3 hover:bg-gray-600 hover:text-white") Rosters
            if user.usersAllowed
              a(href="#" class="block p-3 hover:bg-gray-600 hover:text-white") Users
      main#main(class=`w-full ${user ? 'md:ml-6 px-3' : ''}`)
        block content
    footer(class="text-center bg-gray-800 text-white py-3")
      p &copy; Hooligan Hymnal
