extends ../layout

block content
  .mx-auto.container
    div(class="show--card")
      h2(class="font-semibold text-2xl mb-3") #{title}
      div
        h3(class="text-xl mb-3") #{song.referenceTitle}
        h3(class="text-xl mb-1") Instructions
        p(class="mb-3") #{song.instructions}
        h3(class="text-xl mb-1") Lyrics
        p(class="mb-3") #{song.lyrics}
        section(class="flex")
          h4(class="text-sm") Reference Link
          a(href=`${song.referenceLink}`) #{song.referenceLink}
        section(class="flex")
          h4(class="text-sm") Sheet Music Link
          a(href=`${song.sheetMusicLink}`) #{song.sheetMusicLink}

        if (song.playerId)
          div(class="list--card mt-3 border -mx-3")
            if player.thumbnail
              img(src=`${player.thumbnail}` alt=`${player.name} thumbnail` class="rounded-full mr-6" style="height:50px;width:50p;max-width:50px;max-height:50px")
            else
              div(style="height:50px;width:50px;max-width:50px;max-height:50px" class="rounded-full mr-6 bg-gray-800")
            div
              h5(class="text-gray-600 font-semibold") #{player.name}
              p(class="text-gray-500") #{player.squadNumber}
              p(class="text-gray-500") #{player.position}

      div(class="show--card__footer")
        a(href=`/songs/${song._id}/edit` class="btn btn--edit") Edit
        br
        a(href=`/songs/${song._id}/delete` class="btn btn--delete") Delete
