mixin baseCheckbox(type='checkbox', label='', name='', value, placeholder='', required=false)
  label(for=name class="flex-1 font-semibold") #{label}
    input(type=type, name=name, id=name, checked=value, required=required, class="ml-2")
