mixin baseColorInput(type='color', label='', name='', value='', required=false)
  label(for=name class="flex-1 font-semibold") #{label}
  input(type=type, name=name, id=name, value=value, class="border-2 flex-auto rounded shadow h-10 w-full")
