mixin baseCheckbox(type='checkbox', label='', name='', value, placeholder='', required=false)
  label(for=name class="font-semibold w-full sm:w-1/2") #{label}
    input(type=type, name=name, id=name, checked=value, required=required, class="ml-2")
