mixin playerCard(player = {})
  a(href=`/players/${player._id}` class="list--card")
    if player.thumbnail
      img(src=`${player.thumbnail}` alt=`${player.name} thumbnail` class="rounded-full mr-6" style="height:50px;width:50p;max-width:50px;max-height:50px")
    else
      div(style="height:50px;width:50px;max-width:50px;max-height:50px" class="rounded-full mr-6 bg-gray-800")
    div
      h2(class="text-gray-600 font-semibold") #{player.name}
      p(class="text-gray-500") #{player.squadNumber}
      p(class="text-gray-500") #{player.position}
