include _playerCard

//- players, totalCount, searchCount, page, pages

mixin playersList(players = {}, totalCount = null, searchCount = null, page = null, pages = null, name = "")
  each player in players
    +playerCard(player)
  else
    h3 No Players

  //- if name
  if page > 1
    a(href=`/players?name=${name}&page=${page - 1}`) Prev
    p Page #{page} of #{pages} - #{totalCount} total results
    if page < pages
      a(href=`/players?name=${name}&page=${parseFloat(page) + 1}`) Next
  else
    if page > 1
      a(href=`/players?page=${page - 1}`) Prev
    p Page #{page} of #{pages} - #{totalCount} total results
    if page < pages
      a(href=`/players?page=${parseFloat(page) + 1}`) Next

  p #{totalCount} Players in Database
