include ./_baseInput
include ./_csrfInput

mixin playerForm(player = {}, edit = false)
  if player.id
    #player-id(class="hidden") #{player.id}
  form(method="POST")
    .flex.flex-col.mb-3
      +baseInput("text", "Name", "name", player.name, "Name", true)
    .flex.flex-col.mb-3
      +baseInput("text", "Flag", "flag", player.flag, "Flag Emoji")
    .flex.flex-col.mb-3
      +baseInput("text", "Squad Number", "squadNumber", player.squadNumber, "Squad Number", true)
    .flex.flex-col.mb-3
      - const options = h.positionOptions
      label(for="position") Position
      select(name="position" id="position" value=player.position required class="h-10 rounded-lg shadow border bg-white")
        each option in options
          if (player.position === option)
            option(value=option selected)= option
          else
            option(value=option)= option
    .flex.flex-col.mb-3
      h3.font-semibold Bios
      div.flex.flex-col
        div(x-data="{ lang: '"+ langs[0] +"' }")
          .flex
            each lang in langs
              button(x-on:click="lang = '" + lang +"'" type="button" class="uppercase flex-1 px-2 py-3 rounded-t" x-bind:class="{ 'bg-gray-800 text-white': lang === '" + lang + "' }") #{lang}
          each lang in langs
            - const bios = player.bio ? JSON.parse(JSON.stringify(player.bio)) : {};
            div.flex.flex-col.border-2.p-3.rounded-b-lg(x-show="lang === '" + lang + "'")
              label(for=lang class="flex-1 font-semibold capitalize") #{lang}
              textarea(name=`bio[${lang}]` id=lang class="border flex-auto rounded p-2 shadow") #{bios[lang]}
    .flex.flex-col.mb-3#thumbnail
      #thumbnail-template
        div(class="relative inline-block")
          img(data-dz-thumbnail class="rounded-full mx-auto" style="height:50px;width:50px")
          p(class="" data-dz-name)
          div(class="dz-error-mark cursor-pointer absolute top-0 right-0" data-dz-remove)
            span &times;
        div(class="dz-error-message")
          span(data-dz-errormessage)
      #thumbnail-upload-section(class="border rounded-lg bg-gray-200 h-32 w-full flex justify-center items-center cursor-pointer relative z-10")
        h2(class="pointer-events-none -z-1") Upload thumbnail here
      #thumbnail-previews
      div(class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0")
          div(class="h-2 bg-gray-700 progress-bar" style="width:0%;" data-dz-uploadprogress)
      .actions
        button(class="rounded bg-green-700 text-white px-3 py-2 upload" type="button") Upload
        if !edit
          button(class="rounded bg-red-700 text-white px-3 py-2 cancel" type="button") Clear
      #thumbnail-target.hidden
    .flex.flex-col.mb-3#images
      #images-template
        div(class="relative inline-block")
          img(data-dz-thumbnail class="rounded-full mx-auto" style="width:120px;height:120px")
          p(class="" data-dz-name)
          div(class="dz-error-mark cursor-pointer absolute top-0 right-0" data-dz-remove)
            span &times;
        div(class="dz-error-message")
          span(data-dz-errormessage)
      #images-upload-section(class="border rounded-lg bg-gray-200 h-32 w-full flex justify-center items-center cursor-pointer relative z-10")
        h2(class="pointer-events-none -z-1") Image(s) here
      #images-previews
      div(class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0")
        div(class="h-2 bg-gray-700 progress-bar" style="width:0%;" data-dz-uploadprogress)
      .actions
        button(class="rounded bg-green-700 text-white px-3 py-2 upload" type="button") Upload
        if !edit
          button(class="rounded bg-red-700 text-white px-3 py-2 cancel" type="button") Clear
      #images-target.hidden
    .flex.flex-col.mb-3
      +baseInput("text", "Twitter", "twitter", player.twitter, "twitter")
    .flex.flex-col.mb-3
      +baseInput("text", "Instagram", "instagram", player.instagram, "instagram")
    .mb-3
      button(type="submit" class="py-3 px-2 rounded bg-blue-700 text-white") Save Player
