include _songCard

mixin songsList(songs = {}, totalCount = null, searchCount = null, page = null, pages = null, filter = "")
  each song in songs
    +songCard(song)
  else
    h3 No Songs
  div(class="md:ml-3")
    if pages > 1 && filter !== ""
      a(href=`/songs?filter=${filter}&page=${page - 1}` class="bg-gray-700 text-white rounded border p-2 mr-2") Prev
      p Page #{page} of #{pages} - #{searchCount} total results
      if page < pages
        a(href=`/songs?filter=${filter}&page=${parseFloat(page) + 1}` class="bg-gray-700 text-white border rounded border p-2 ml-2") Next
    else
      if page > 1
        a(href=`/songs?page=${page - 1}` class="bg-gray-700 text-white rounded border p-2 mr-2") Prev
      p(class="inline-block") Page #{page} of #{pages} - #{totalCount} total results
      if page < pages
        a(href=`/songs?page=${parseFloat(page) + 1}` class="bg-gray-700 text-white border rounded border p-2 ml-2") Next

    p(class="mt-3") #{totalCount} Songs in Database
