mixin usersForm(user = {}, edit = false)
  form(method="POST")
    .flex.flex-col.mb-3
      label(for="name") First Name
      input(type="text" name="name" id="name" class="border flex-auto rounded p-2 shadow" required value=`${user.name ? user.name : ''}`)
    .flex.flex-col.mb-3
      label(for="familyName") Last Name
      input(type="text" name="familyName" id="familyName" class="border flex-auto rounded p-2 shadow" required value=`${user.familyName ? user.familyName : ''}`)
    .flex.flex-col.mb-3
      label(for="email") Email
      input(type="email" name="email" id="email" class="border flex-auto rounded p-2 shadow" required value=`${user.email ? user.email : ''}`)
    .flex.flex-col.mb-3
      label(for="displayName") Display Name
      input(type="text" name="displayName" id="displayName" class="border flex-auto rounded p-2 shadow" required value=`${user.displayName ? user.displayName : ''}`)
    if !edit
      .flex.flex-col.mb-3
        label(for="password") Password
        input(type="password" name="password" id="password" class="border flex-auto rounded p-2 shadow" required)
      .flex.flex-col.mb-3
        label(for="password-confirm") Confirm Password
        input(type="password" name="passwordConfirm" id="password-confirm" class="border flex-auto rounded p-2 shadow")
    .flex.flex-col.mb-3
      - var options = ['pushNotificationsAllowed', 'songbookAllowed', 'rosterAllowed', 'usersAllowed']
      //- TODO: Create a better select.. to[] from[]
      label(for="permissions") Permissions
      select(name="permissions[]" id="permissions[]" multiple)
        each option in options
          option(value=option) #{option}
    .mb-3
      button(type="submit" class="px-3 py-2 bg-blue-700 text-white") Save User
