extends ../layout

block content
  .mx-auto.container
    .show--card
      h2(class="font-semibold text-2xl mb-3")
        img(src=user.gravatar alt=`${user.name} ${user.familyName}` class="rounded-full")
        span #{title}
      p First name: #{user.name}
      p Last name: #{user.familyName}
      p Email: #{user.email}
      p Display Name: #{user.displayName}
      if user.lastLogin
        p Last Login: #{h.moment(user.lastLogin).fromNow()} - #{h.moment(user.lastLogin).calendar()}
      //- h.moment(user.lastLogin).timeago()
      else
        p Hasn't Logged in yet
      .border.rounded.p-3.mt-3
        p
          span(class="font-semibold") pushNotificationsAllowed:
          span #{user.pushNotificationsAllowed}
        p rosterAllowed: #{user.rosterAllowed}
        p songbookAllowed: #{user.songbookAllowed}
        p feedAllowed: #{user.feedAllowed}
        p usersAllowed: #{user.usersAllowed}
      .show--card__footer
        a(class="btn btn--edit" href=`/users/${user._id}/edit`) Edit #{user.fullname}
        br
        a(class="btn btn--delete" href=`/users/${user._id}/delete`) Delete #{user.fullname}
